@media all and (max-width: 1400px){
  


}
@media all and (max-width:1300px){
    .header-section h2 {
       
        padding: 22px 20px;
   
    }
    .header-section .menu ul {
       
        padding: 0 53px;
    }
    /* .left-about img {
      
        padding: 0 5px;
    } */
    .about-bottom {
      
        padding: 0 29px;
    }
}
@media all and (max-width: 1200px){
    .header-section .menu {
        float: none;
    }
    .header-section .menu ul {
        padding: 0 53px;
        padding: 8px;
        text-align: right;
    }
    .Service-bottom .box-all {
    
        width: 50%;
       
    }
    .right-about .one h1 {
        font-size: 25px;
       
    }
    .right-about .one p {
        font-size: 16px;
    }
    .contact-section h1 {
      
        font-size: 39px;
    }
    .contact-section p {
      
        font-size: 19px;
       
    }

}

@media all and (max-width:992px){
    .header-section h2 {
     
        float: none;
       text-align: center;
        
    }
    .header-section .menu ul {
     
        text-align: center;
    }
    .Service-bottom .box-all {
        width: 49%;
    }
    .left-about img {
        float: none;
        width: 100%;
    }
    .right-about .one {
        float: none;
        width: 100%;
        margin-top: 43px;
        text-align: center;
    }
    .right-about {
        padding-top: 60px;
     
    }
}
@media all and (max-width:768px){
    .service-section h1 {
        font-size: 36px;
      
    }
    .service-section p {
        color: #777777;
        padding-top: 35px;
        font-size: 14px;
    }
}

@media all and (max-width:668px){
    .header-section h2 {
      
        font-size: 27px;
    }
    .header-section .menu ul li a {
     
        padding: 0px 12px;
        font-size: 14px;
 
    }
    .Service-bottom .box-all {
        width: 100%;
    }
    .about-section h1 {
       
        font-size: 38px;
    }
    .about-section p {
      
        font-size: 16px;

    }
    .contact-section p {
        font-size: 18px;
    }
    .contact-section h1 {
        font-size: 38px;
    }
    .contact_one {
      
        width: 100%;
     
    }
}
@media all and (max-width:500px){
    .header-section h2 {
        font-size: 25px;
    }
    .header-section .menu ul li a {
        padding: 0px 5px;
    
    }
    .banner .banner-details h1 {

        font-size: 32px;
   
    }
    .banner .banner-details p {
      
        font-size: 18px;
        padding-top: 10px;
      
    }
    .banner .banner-details a {
        
        font-size: 16px;
      
    }
    .service-section h1 {
        font-size: 33px;
    }
    .service-section p {
       
        padding-top: 24px;
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .right-about .one p {
        font-size: 16px;
        text-align: justify;
    }
    .contact-section h1 {
        font-size: 36px;
    }
    .contact-section p {
	font-size: 16px;
	padding: 0px 10px;
	line-height: 23px;
}
.social .icon i {
	
	font-size: 20px;
	margin-right: 0px;
	padding: 0 20px;
}
}
@media all and (max-width:420px){
    .header-section h2 {
        font-size: 23px;
    }
    .header-section .menu ul li a {
        padding: 0px 30px;
    }
    .banner .banner-details h1 {
        font-size: 30px;
    }
    .banner .banner-details p {
        font-size: 17px;

    }
    .banner .banner-details a {
       
        font-size: 15px !important;
    
    }
    .about-section h1 {
        font-size: 34px;
    }
    .about-section p {
        font-size: 14px;
    }
    footer p {
       
        font-size: 16px;
        padding: 20px 0;
    }
}
@media all and (max-width:380px){
    .banner {
     
        padding: 68px 0;
     
    }
    .banner .banner-details h1 {
        font-size: 20px;
    }
    .banner .banner-details p {
        font-size: 13px;
    }
    .banner .banner-details a {
        font-size: 12px !important;
        border: 1px solid #fff;
    }
    .social .icon i {
        font-size: 18px;
       
        padding: 0 13px;
    }
    footer p {
        font-size: 15px;
        padding: 12px 0;
    }
    .header-section .menu ul li a {
        padding: 0px 26px;
    }
    .header-section .menu ul li a {
        padding: 0px 18px;
    }

   
}

@media all and (max-width:300px){
    .header-section .menu ul li a {
        padding: 0px 14px;
    }
}


